/* css/style.css */

body {
    font-family: Tahoma, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px #ccc;
}

.logo-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.logo-box img {
    width: 100px;
}

select, input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 18px;
}

.option {
    background: #eee;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
}

.option:hover {
    background: #ddd;
}

.correct {
    background: transparent !important;
    color: inherit !important;
}

.wrong {
    background: transparent !important;
    color: inherit !important;
}


.note {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

#timeBarContainer {
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 10px;
    margin: 10px 0;
}

#timeBar {
    height: 100%;
    width: 100%;
    background: #4caf50;
    border-radius: 10px;
    transition: width 1s linear;
}

#timeLeftDisplay {
    font-size: 20px;
    color: #d00;
    margin-bottom: 10px;
    text-align: center;
}
